*, body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4d4d4d;
  padding: 3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root{
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  background: Goldenrod;
  border-radius: 15px;
  color: antiquewhite;
  box-shadow: 15px 15px 5px rgba(36, 36, 36, 0.801);
}
form{
  width: 550px;
  text-align: center;
  margin: 0 auto;
}
.toDoList h1{
  margin-bottom: 2rem; 
  text-shadow: 3px 3px 3px rgba(48, 47, 47, 0.808);
}
.toDoList ul{
  list-style: none;
  text-align: start;
}
input{
  padding:10px 20px;
  border-radius: 15px;
  border: 1px solid rgb(148, 112, 21)
}
.toDoList li{
  padding: 1rem;
  font-variant: small-caps;
  background: rgb(223, 196, 138);
  border-radius: 15px;
  color: #4d4d4d;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(48, 47, 47, 0.808);
;
  width: 450px;
  margin: 1rem auto;
  border: 1px solid rgb(148, 112, 21);
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px rgba(36, 36, 36, 0.801);
}
.toDoList li:hover{
  position: relative;
  top: 1px;
}
button{
  margin: 0 1rem;
}
input{
  width: 100%;
}
a{
  color: red;
  margin-left: 1rem;
  text-decoration: none;
  cursor: pointer;
}